<div class="footer-top-section">
    <div class="page-padding">
        <div class="container-large">
            <div class="padding-vertical-footer padding-custom1">
                <div class="footer-top-component">
                    <div class="icons-bx-wrapper">
                        <span class="custom-flexbx">
                            <div class="icon-wrapper"><span class="iconify" data-icon="icon-park-solid:hair-dryer"></span></div>
                            <div class="icon-wrapper"><span class="iconify" data-icon="icon-park-solid:barber-clippers"></span></div>
                        </span>
                        <a href="#" class="btn-primary text-light">
                            BOOK NOW
                        </a>
                        <span class="custom-flexbx">
                            <div class="icon-wrapper"><span class="iconify" data-icon="clarity:scissors-solid"></span></div>
                            <div class="icon-wrapper"><span class="iconify" data-icon="icon-park-outline:straight-razor" data-rotate="-90deg"></span></div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom-component" id="contact">
    <div class="page-padding">
        <div class="container-large">
            <div class="footer-component">
                <div class="footer-brand-logo"><a href="/" aria-current="page" class="nav-brand-link w-inline-block">
                        <img src="../../images/brand-logo.png" class="nav-brand-logo" alt="">
                    </a></div>
                <div class="footer-nav-menu">
                    <div class="footer-nav-wrapper">
                        <div class="footer-nav-heading">FOLLOW US</div>
                        <div class="footer-icon-wrapper">
                            <a href="#">
                                <span class="iconify" data-icon="la:facebook-square"></span>
                            </a>
                            <a href="#">
                                <span class="iconify" data-icon="ph:instagram-logo"></span>
                            </a>
                        </div>
                    </div>
                    <div class="footer-nav-wrapper">
                        <div class="footer-nav-heading">Streetname 123, <br>1234 AB Amsterdam</div>
                    </div>
                    <div class="footer-nav-wrapper">
                        <div class="footer-nav-heading"><span class="text-color-gold">Tel:</span> 01 234-234-233 <br>email@mail.com</div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright-text">© 2022 BarberShop. All Rights Reserved. <a href="https://github.com/BLW96" target="_blank">
            <b>Code by Waez</b></a></div>
        </div>
    </div>
</div>
