<% layout('layouts/boilerplate') %>

    <section class="hero-section" id="hero-setion">
        <div class="hero-section-bg"></div>
        <div class="page-padding">
            <div class="container-large">
                <div class="hero-header-component">
                    <div class="hero-header-left-wrapper">
                        <div class="hero-header-heading">Our Hair styles<br> will brighten your day.</div>
                        <div class="hero-header-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pulvinar suspendisse praesent.
                        </div>
                        <div class="hero-btn-wrapper">
                            <a href="#" class="btn-secondary text-light">
                                Book now
                            </a>
                            <a href="#packages" class="btn-primary text-light">
                                Packages
                            </a>
                        </div>
                    </div>
                    <div class="hero-sci-icons-wrapper">
                        <div class="social-icon-container">
                            <a href="#" class="social-icon-wrapper w-inline-block text-light" target="_blank"><span class="iconify" data-icon="la:facebook-square"></span></a>

                            <a href="#" class="social-icon-wrapper w-inline-block text-light" target="_blank"><span class="iconify" data-icon="ph:instagram-logo"></span></a>
                        </div>
                    </div>
                    <a href="#about" class="home-hero-arrow-down">
                        <lord-icon src="https://cdn.lordicon.com/iifryyua.json" trigger="hover" colors="primary:#ad987d" style="width:35px;height:35px;transform: rotate(90deg);">
                        </lord-icon>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- ABOUT SECTION -->
    <section class="about-section" id="about">
        <div class="page-padding">
            <div class="container-large">
                <div class="padding-vertical padding-custom">
                    <div class="home-about-wrapper">
                        <div class="about-background-bar"></div>
                        <div class="home-about-text-wrapper">
                            <div class="styled-subheading-wrapper">
                                <div class="styled-subheading-line"></div>
                                <div class="styled-subheading">About us</div>
                                <div class="styled-subheading-line"></div>
                            </div>
                            <p class="about-heading">“Lorem ipsum dolor sit, consectetur elit.”</p>
                            <p class="about-service-text">consectetur adipiscing elit. Eu duis massa sollicitudin sit. Volutpat cras ac, commodo id eget. In lacus pretium
                                sit morbi bibendum vitae nunc.</p>
                            <a href="#team" class="contact btn-secondary text-light">
                                Our Team
                                <lord-icon src="https://cdn.lordicon.com/iifryyua.json" trigger="hover" colors="primary:#ad987d" style="width:25px;height:25px;transform: rotate(90deg);">
                                </lord-icon>
                            </a>
                        </div>
                        <div class="home-about-right-wrapper">
                            <img src="../images/aboutUs-img.jpg" alt="img" class="about-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Members -->
    <section class="teamMembers-section" id="team">
        <div class="page-padding">
            <div class="container-large">
                <div class="padding-vertical padding-custom">
                    <div class="home-teamMembers-wrapper">
                        <div class="styled-subheading-wrapper">
                            <div class="styled-subheading-line"></div>
                            <div class="styled-subheading">Meet the team</div>
                            <div class="styled-subheading-line"></div>
                        </div>
                        <div class="teamMembers-carousel-wrapper">
                            <div class="process-component" id="carousel">
                                <ul>
                                    <li class="process-card" data-flip-title="Title 2">
                                        <div class="teamMember-img-wrapper">
                                            <img src="../images/team-member-1.jpg" class="teamMember-img">
                                        </div>
                                        <div class="teamMember-details">
                                            <div class="teamMember-name">Loralie I.</div>
                                            <div class="styled-subheading-line"></div>
                                            <div class="teamMember-service-text">Experience - 9 years</div>
                                        </div>
                                    </li>
                                    <li class="process-card" data-flip-title="Title 2">
                                        <div class="teamMember-img-wrapper">
                                            <img src="../images/team-member-2.jpg" class="teamMember-img">
                                        </div>
                                        <div class="teamMember-details">
                                            <div class="teamMember-name">Evangelin I.</div>
                                            <div class="styled-subheading-line"></div>
                                            <div class="teamMember-service-text">Experience - 3 years</div>
                                        </div>
                                    </li>
                                    <li class="process-card" data-flip-title="Title 2">
                                        <div class="teamMember-img-wrapper">
                                            <img src="../images/team-member-3.jpg" class="teamMember-img">
                                        </div>
                                        <div class="teamMember-details">
                                            <div class="teamMember-name">Jarrett Y.</div>
                                            <div class="styled-subheading-line"></div>
                                            <div class="teamMember-service-text">Experience - 2 years</div>
                                        </div>
                                    </li>
                                    <li class="process-card" data-flip-title="Title 2">
                                        <div class="teamMember-img-wrapper">
                                            <img src="../images/team-member-4.jpg" class="teamMember-img">
                                        </div>
                                        <div class="teamMember-details">
                                            <div class="teamMember-name">Eryn L.</div>
                                            <div class="styled-subheading-line"></div>
                                            <div class="teamMember-service-text">Experience - 12 years</div>
                                        </div>
                                    </li>
                                    <li class="process-card" data-flip-title="Title 2">
                                        <div class="teamMember-img-wrapper">
                                            <img src="../images/team-member-5.jpg" class="teamMember-img">
                                        </div>
                                        <div class="teamMember-details">
                                            <div class="teamMember-name">Rick E.</div>
                                            <div class="styled-subheading-line"></div>
                                            <div class="teamMember-service-text">Experience - 5 years</div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="styled-horizontalScroll-wrapper">
                                <div class="styled-subheading-line"></div>
                                <span class="iconify" data-icon="gg:scroll-h"></span>
                                <div class="styled-subheading-line"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="home-shop-section">
        <div class="page-padding">
            <div class="container-large">
                <div class="padding-vertical padding-custom">
                    <div class="home-shop-wrapper">
                        <div class="about-background-bar right-custom"></div>
                        <div class="home-shop-text-wrapper">
                            <div class="styled-subheading-wrapper">
                                <div class="styled-subheading-line"></div>
                                <div class="styled-subheading">Shop</div>
                                <div class="styled-subheading-line"></div>
                            </div>
                            <div class="home-work-heading">
                                consectetur dolor amet.
                            </div>
                            <div class="home-shop-subheading">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Luctus tellus faucibus neque, amet mi. Laoreet eget congue condimentum a. sit lectus proin maecenas sed.
                            </div>
                            <a href="/products/1" class="btn-primary text-light">
                                All products
                            </a>
                            <span class="iconify" data-icon="fontisto:shopping-store"></span>
                        </div>
                        <div class="home-shop-products-wrapper">
                            <div class="home-products-list" id="projects">
                                <div class="home-product-list-item">

                                    <a href="/products/cate/hair-products" class="col-item-wrapper">
                                        <div class="home-productImg-wrapper"></div>
                                        <div class="home-product-title">
                                            Hair Care
                                        </div>
                                    </a>
                                    <a href="/products/cate/face-products" class="col-item-wrapper">
                                        <div class="home-productImg-wrapper2"></div>
                                        <div class="home-product-title">
                                            Face Care
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- services -->

    <section class="home-services-section" id="packages">
        <div class="page-padding">
            <div class="container-large">
                <div class="padding-vertical padding-custom">
                    <div class="services-background-bar"></div>
                    <div class="home-services-component">
                        <div class="services-header-wrapper">
                            <div class="styled-subheading-wrapper">
                                <div class="styled-subheading-line"></div>
                                <div class="styled-subheading">Our Barber Pricing</div>
                                <div class="styled-subheading-line"></div>
                            </div>
                        </div>

                        <section class="pricing_section-wrapper">

                            <div class="service-items">
                                <div class="price_wrap">
                                    <h3>Hair Styling</h3>
                                    <ul class="price_list">
                                        <li>
                                            <h4>Hair Styling</h4>
                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>
                                            <span class="price">&euro;10</span>
                                        </li>
                                        <li>
                                            <h4>Hair Cut</h4>
                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>
                                            <span class="price">&euro;11</span>
                                        </li>
                                        <li>
                                            <h4>Hair Triming</h4>
                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>
                                            <span class="price">&euro;12</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="service-items">
                                <div class="price_wrap">
                                    <h3>Shaving</h3>
                                    <ul class="price_list">
                                        <li>
                                            <h4>Clean Shaving</h4>
                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>
                                            <span class="price">&euro;10</span>
                                        </li>
                                        <li>
                                            <h4>Beard Triming</h4>
                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>
                                            <span class="price">&euro;11</span>
                                        </li>
                                        <li>
                                            <h4>Face Shave</h4>
                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>
                                            <span class="price">&euro;12</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="service-items">
                                <div class="price_wrap">
                                    <h3>Face Care</h3>
                                    <ul class="price_list">
                                        <li>
                                            <h4>White Facial</h4>
                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>
                                            <span class="price">&euro;10</span>
                                        </li>
                                        <li>
                                            <h4>Face Cleaning</h4>
                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>
                                            <span class="price">&euro;11</span>
                                        </li>
                                        <li>
                                            <h4>Bright Tuning</h4>
                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>
                                            <span class="price">&euro;12</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>