<% layout('layouts/boilerplate') %>


    <section class="cart-section">
        <div class="page-padding">
            <div class="container-large">
                <div class="padding-vertical padding-custom">
                    <div class="cart-component">
                        <h1 class="text-center text-light mt-4" style="font-family: 'Playfair Display', serif;">
                            Your cart is empty.
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </section>